@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "ui-sans-serif";
    src: url("/fonts/renner-light.otf");
}

@font-face {
    font-family: "renner-medium";
    src: url("/fonts/renner-medium.otf");
} */

:root {
  font-family: system-ui, sans-serif;
}

.popout {
  outline: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.popout:hover:not(:disabled), .popout:focus-visible:not(:disabled) {
  transform: scale(1.02);
}